@charset "UTF-8";
html,body{height:100%; width:100%;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, select, input, textarea, th, td{margin:0; padding:0}
body, button, input, select, textarea{font:12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif}
h3,h4, h5, h6{font-size:100%}
ul, ol{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:none; color:#cd0036}
q:before, q:after{content:''}
legend{color:#000}
fieldset, img{border:none}
button, input, select, textarea{font-size:100%}
table{border-collapse:collapse; border-spacing:0}
.clearfix{zoom:1}
.clearfix:after{display:block; height:0; font-size:0; line-height:0; clear:both; visibility:hidden; content:''}
a{blr:expression(this.onFocus=this.blur()); /* IE Opera */ outline:none; /* FF Opera */ }
a:focus{-moz-outline-style: none; /* FF */ }

body{
    background: #f1f1f1;
    font-family: "微软雅黑";
}
/*top-bar*/
.top-bar{
    height: 38px;
    width: 100%;
    background: #474a49;
    border-top: 1px solid #545756;
    border-bottom: 1px solid #242525;
    position: relative; 
}
.top-bar h2{
    position: absolute;
    top: 8px;
    left: 20px;
}
.top-bar h2 a{
    display: block;
    height: 23px;
    width: 116px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../images/top-logo.png) no-repeat 0 0;
}
.top-nav,
.top-nav li{
    border-width: 0 1px;
    border-style: solid;
    border-color: #545756; 
}
.top-nav{
    float: right;
    margin-right: 24px;
    padding-left: 1px;
    background: #353737;
}
.top-nav li{
    float: left;
    margin-right: 1px;
    height: 38px;
    padding: 0 12px;
    background: #474a49;
    position: relative;
}
.top-nav li a{
    display: block;
    line-height: 38px;
    font-size: 13px;
    color: #dddddd;
    text-shadow: 1px 1px 2px #8d8f8e;
}
.setting{
    width: 14px;
    overflow: hidden;
    text-indent: -99px;
    background: url(../images/icon-setting.png) no-repeat 0 14px;
}

/*tab-bar*/
.tab-bar{
    height: 38px;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #c9cbcb;
    background: #dddddd;
}
.tab-nav,
.tab-nav li{
    border-width: 0 1px;
    border-style: solid;
    border-color: #e6e6e6; 
}
.tab-nav{
    float: left;
    margin-left: 24px;
    background: #c0c2c2;
    padding-left: 1px;
}
.tab-nav li{
    float: left;
    height: 38px;
    width: 110px;
    margin-right: 1px;
    position: relative;
    background: #dddddd; 
}
.tab-nav li a{
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #575756;
    font-weight: bold;
    font-size: 14px;
    text-shadow:-1px 0 1px #ffffff;
}
.tab-nav li .current{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #f51c39;
    background: #fafafa;
    border-bottom: 1px solid #fafafa;
}

/*seach-head*/
.seach-head{
    height: 60px;
    background: #fafafa;
    border-bottom: 1px solid #dfdfdf;
}

/*content*/
.content{
    min-height: 200px;
    _height: 200px;
    background: #ffffff;
    overflow: auto;
}
.inner{
    padding: 16px 24px 16px 330px;
    overflow: hidden;
    zoom: 1;
}
.left{
    float: left;
    width: 286px;
    margin-left: -310px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    background: #fafafa;
}
.main{
    
}

/*search-pannel*/
.search-pannel h3{
    height: 38px;
    padding-left: 24px;
    line-height: 38px;
    color: #999999;
    border-bottom: 1px solid #dfdfdf;
}
.search-rows{
    border-top: 1px solid #ffffff;
    padding: 10px 12px;
    color: #575756;
}
.condition{
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    background: #ffffff;
}
.condition dl dt{
    height: 28px;
    padding: 0 10px;
    line-height: 28px;
}
.condition dl dt a{
    color: #00a4d8;
    background: url(../images/icon-jqui.png) no-repeat -132px -35px;
}
.condition dl dd{
    border-top: 1px solid #dfdfdf;
    padding: 2px 10px;
}
.cdt-cont{
    line-height: 22px;
}
.cdt-cont a{
    padding-left: 20px;
}

/*footer*/
.footer{
    height: 50px;
    border-top: 1px solid #dddddd;
    background: #f1f1f1;
}
.foot-c{
    padding-top: 8px;
    border-top: 1px solid #ffffff;
    overflow: hidden;
    zoom: 1;
}
.foot-c h2,
.foot-nav,
.foot-nav li{
    float: left;
}
.foot-c h2{
    height: 23px;
    width: 94px;
    overflow: hidden;
    text-indent: -299px;
    margin-left: 24px;
    background: url(../images/foot-logo.png) no-repeat 0 0;
}
.foot-nav li{
    margin-left: 20px;
    line-height: 24px;
}
.foot-nav li a,.rights{
    color: #888a8a;
}
.foot-nav li a:hover{
    color: #cd0036;
}
.rights{
    float: right;
    margin-right: 24px;
    line-height: 24px;
}

/*modules*/
.icon{
    display: inline-block;
    height: 12px;
    width: 12px;
    vertical-align: middle;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    background-image: url(../images/icon-jqui.png);
    background-repeat: no-repeat; 
}
.icon-open{
    background-position: -132px -35px;
}